@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.has-margin-top {
  margin-top: 20px;
}

.button.is-purple {
  background-color: #3B5998;
  border-color: transparent;
  color: #fff;
}

.button.is-orange {
  background-color: #ff4500;
  border-color: transparent;
  color: #fff;
}
